.navbar {
    background-color: #222;
    padding: 12px 20px;
  }
  
  .link {
    color: #fff;
    margin-right: 18px;
    text-decoration: none;
    font-weight: 600;
  }
  
  .link:hover {
    color: #00c8ff;
  }
  